<!doctype html>

<html>
	<head>
		<title>DiversiFriends</title>

			<div id="titlebar">
			<p>DiversiFriends</p>
			</div>

			<!--Below is import for css stylesheet-->
			<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
<body>

<div id="navbar">
		<a href="index"><img border="0" src="http://i.imgur.com/1mJUYE7.jpg" width="90%"></a>
		<a href="requests"><img border="0" src="http://i.imgur.com/wEJrBmE.jpgg" width="90%"></a>
		<a href="friends"><img border="0" src="http://i.imgur.com/BhLwskr.jpg" width="90%"></a>
		<a href="profile"><img border="0" src="http://i.imgur.com/0z7pXii.jpg" width="90%"></a>
		<a href="login"><img border="0" src="http://i.imgur.com/zj4aZRR.jpg" width="90%"></a>
	</div>

<div id="headings">
	<h1>Your Friends!</h1>
	<p>These are the people you've connected with!</p>
</div>


<div id="contentBox">
	<div>
		{{#each friends}}
			{{#if display}}
      		<div id="{{name}}">
      			<div id="friendsPreview">
          			<img src="{{imageURL}}" width="20%" ... />
          			<p>Name: {{name}}</p>
          			<p>Personal Statement: {{personalStatement}}</p>
          			<p>Description: {{description}}</p>
          			<p>Email Adress: {{emailAddress}}</p>
          				

          					<div class="hideFriend" name="{{name}}"> <button>Remove Friend</button></div>

      			</div>
      		</div>
			{{/if}}
		{{/each}}
    </div>
</div>



<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/hci-friends.js"></script>

	</div>



		


	
</div>

</body>
</html>