<!doctype html>

<html>
	<head>
		<title>DiversiFriends</title>

			<div id="titlebar">
			<p>DiversiFriends</p>
			</div>

			<!--Below is import for css stylesheet-->
			<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
<body>

<div id="navbar">
		<a href="index"><img border="0" src="http://i.imgur.com/1mJUYE7t.jpg" width="100" height="100"></a>
		<a href="requests"><img border="0" src="http://i.imgur.com/wEJrBmEt.jpg" width="100" height="100"></a>
		<a href="friends"><img border="0" src="http://i.imgur.com/BhLwskrt.jpg" width="100" height="100"></a>
		<a href="profile"><img border="0" src="http://i.imgur.com/0z7pXiit.jpg" width="100" height="100"></a>
		<a href="login"><img border="0" src="http://i.imgur.com/zj4aZRRt.jpg" width="100" height="100"></a>
	</div>

<div id="headings">

	<h1>Your Friends!</h1>
	<p>These are the people you've connected with!</p>

</div>

	<div id="contentBox">
	<div>

{{#each friends}}
      <div id="friendsPreview" id="{{id}}">
          <img src="{{imageURL}}" width="15%" ... />
          <p>Name: {{name}}</p>
          <p>Personal Statement: {{personalStatement}}</p>
          <p>Description: {{description}}</p>
          <p>Email Adress: {{emailAddress}}</p>
          <button class="removeFriend">Remove Friend</button>
      </div>
    {{/each}}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/hci-friends.js"></script>

	</div>



		


	
</div>

</body>
</html>