<!doctype html>

<html>
	<head>
		<title>DiversiFriends</title>

			<div id="titlebar">
			<p>DiversiFriends</p>
			</div>

			<!--Below is import for css stylesheet-->
			<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
<body>
 
<div id="navbar">
		<a href="index"><img border="0" src="http://i.imgur.com/1mJUYE7.jpg" width="90%"></a>
		<a href="requests"><img border="0" src="http://i.imgur.com/wEJrBmE.jpgg" width="90%"></a>
		<a href="friends"><img border="0" src="http://i.imgur.com/BhLwskr.jpg" width="90%"></a>
		<a href="profile"><img border="0" src="http://i.imgur.com/0z7pXii.jpg" width="90%"></a>
		<a href="login"><img border="0" src="http://i.imgur.com/zj4aZRR.jpg" width="90%"></a>
	</div>

<div id="headings">
	<h1>Have a look!</h1>
	<p>The people shown below have a different political view from you!</p>
	<p>Sending a connection request will make your email address available to the recipient.</p>
	
	<!--<select>
		<option value="politics"> Politics</option> 
		<option value="religon"> Religon</option>
		<option value="culture"> Culture</option>
	</select>-->
</div>
	

	<!-- Add click listener for the selector above to get the value....when we get the value, send a get request to the "backend" through AJAX, and the backend pass in some other value.

	2. setup ajax
	3. setup backend routes
	4. test backend routes-->

	<div id="contentBox">
		<div>
			{{#each diversimatches}}
				{{#if display}}
				<div id="{{name}}">
      			<div id="userPreview">
          			<img src="{{imageURL}}" width="15%" ... />
          			<p>{{name}}</p>
          			<p>{{description}}</p>
          		
          			<br>
   					
   				<div>
   				{{#if showConnectionRequest}}
          			<div class="connectionRequestButtons" name="{{name}}"> <button>Send Connection Request</button></div>
          			{{/if}}

          			<div class="hideProfile" name="{{name}}"><button>Hide This Profile</button>
          			</div>
          			</div>
      			</div>
      			{{/if}}
    		{{/each}}
			
		</div>
	</div>


			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/hci-friends.js"></script>
			

</body>
</html>









